* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1b2026;
}

:root {
    --bg-color: #333b46;
    --btn-color: #1fbba6;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.text-center {
    text-align: center;
}

.h-78 {
    min-height: 78vh;
}

.h-100 {
    min-height: 100vh;
}

.clearfix {
    clear: both;
}

/*--- Preloader ---*/

#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../images/Preloader/preloader.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/*--- Header ---*/

header {
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.header-title {
    width: calc(100% - 100px);
    border-bottom: 4px solid var(--btn-color);
    margin-right: 10px;
}

.header-title, .header-calcendar {
    background-color: var(--bg-color);
}

.header-title h2 {
    font-size: 2.6rem;
    font-weight: 300;
    padding: 16px 14px;
}

.header-calcendar__date {
    display: flex;
}

.header-date_1 {
    border-right: 1px solid #fff;
    padding: 0px 12px;
}

.header-date_1 h1 {
    font-size: 2.8rem;
    font-weight: 300;
}

.header-date_1 p {
    font-size: 12px;
    padding: 10px 6px;
}

.header-date_1 p i {
    color: var(--btn-color);
}

.header__search {
    text-align: center;
    width: 100%;
}

.btn-search {
    width: 100%;
    border: none;
    padding: 12px 24px;
    color: #fff;
    background-color: var(--btn-color);
}

/* Gallery Section */

.grid-container {
    max-width: 1140px;
    width: 100%;
    margin: 10px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 170px 170px;
    grid-gap: 10px;
    grid-auto-flow: dense;
    border-bottom: 10px solid var(--btn-color);
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    opacity: 1;
}

.gallery-item .image:hover img {
    color: var(--bg-color);
    opacity: 0.1;
}

.gallery-item .gallery-item__text {
    background-color: var(--bg-color);
    opacity: 0.9;
    position: absolute;
    width: 56%;
    bottom: 0px;
    right: 0px;
    color: #fff;
    pointer-events: none;
    z-index: 4;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    padding: 14px 20px;
}

.gallery-item .image:hover .gallery-item__text {
    background-color: transparent !important;
    opacity: 0.1;
}

.gallery-item__text h3 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 6px;
}

.gallery-item__text p {
    font-size: 12.8px;
}

.gallery-item__text .gallery-text {
    padding-bottom: 18px;
}

.gallery-item__text .gallery-date {
    color: var(--btn-color);
}

.gallery-item__text input[type="button"] {
    width: 148px;
    font-weight: 600;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

#more-events {
    background: #dee3e9;
}

.more-event {
    width: 12%;
    margin: 0 auto;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--btn-color);
}

.more-event img {
    color: #fff;
    padding-top: 10px;
    height: 18px;
}

#section2 {
    background-color: #dee3e9;
    padding: 20px;
    float: left;
}

.main .content-left h2, .main .content-left h3, .main .content-left p {
    padding: 8px 20px;
    text-align: justify
}

.card {
    width: 72%;
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main .content-left h3 {
    padding-top: 0px;
    text-transform: capitalize;
}

.main .content-left span {
    color: var(--btn-color);
}

.main .content-left .btn-search {
    padding: 10px 20px;
}

.main .content-left .card-image {
    width: 100px;
    height: 100px;
    position: relative;
}

.main .card-image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.copyright-text {
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: var(--btn-color);
}

@media (max-width: 991px) {

    .gallery-item .gallery-item__text{
        width: 80%;
    }
    .gallery-item__text h3 {
        font-size: 14px;
    }
    .more-event {
        width: 16%;
    }
    .card {
        width: 100%;
        margin: 10px auto
    }
    .main .card-text {
        width: 70%;
    }
}
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 2fr);
        padding: 10px;
    }
    .gallery-item .gallery-item__text {
        width: 70%;
        padding: 10px 10px
    }
    .gallery-item__text h3 {
        font-size: 14px;
    }
    .more-event {
        width: 50%;
    }
    .main .content-left h2, .main .content-left h3, .main .content-left p {
        padding: 0px 10px 8px;
    }
    .card {
        width: 100%;
        margin: 10px auto;
    }
    .main .card-text {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .header-title h2 {
        font-size: 1.6rem;
    }
    .header-date_1 h1 {
        font-size: 1.4rem;
    }
    .grid-container {
        grid-template-columns: repeat(2, 2fr);
    }
    .gallery-item .gallery-item__text {
        width: 90%;
    }
    .main .card-text, .main .card-text {
        width: 100%;
        margin-top: 10px;
    }
}